<form class="aui profile-form">
    <header class="aui-page-header">
        <div class="aui-page-header-inner">
            <div class="aui-page-header-main">
                <h1>个人信息</h1>
            </div>
            <div class="aui-page-header-actions"></div>
        </div>
    </header>
    <fieldset>
        <div class="field-group viewMode">
            <label id="fullName-label" for="fullName">全名：</label>
            <span id="fullName" class="field-value"><%=user.name%></span>
        </div>
        <div class="field-group viewMode">
            <label>邮箱：</label>
            <span id="email" class="field-value"><%=user.email%></span>
        </div>
        <div class="field-group viewMode">
            <label>角色：</label>
            <span id="email" class="field-value">管理员</span>
        </div>
    </fieldset>
    <header class="aui-page-header">
        <div class="aui-page-header-inner">
            <div class="aui-page-header-main">
                <h1>应用信息</h1>
            </div>
            <div class="aui-page-header-actions"></div>
        </div>
    </header>
    <% if(app) { %>
        <% if(app.status === "CONFIRMED") { %>
            <fieldset>
                <input type="hidden" name="code" value="<%=app.code%>" />
                <div class="field-group">
                    <label>应用ID(app_code)：</label>
                    <div class="pt-5">
                        <%=app.code%>
                    </div>
                </div>
                <div class="field-group">
                    <label>应用名称：</label>
                    <input type="text" class="text" name="name" value="<%=app.name%>" placeholder="请输入应用名称" ignore-value="<%=app.name%>" />
                    <span class="aui-icon aui-icon-small aui-iconfont-success" style="display:none">Success</span>
                    <span class="aui-icon aui-icon-small aui-iconfont-warning" style="display:none">Warning</span>
                    <span class="aui-icon aui-icon-wait" style="display:none">Wait</span>
                    <div class="error invalid" verify="true" style="display:none">该应用名称已经存在</div>
                    <div class="error invalid" validation="isNotBlank" style="display:none">请输入应用名称</div>
                </div>
                <div class="field-group">
                    <label>App Key：</label>
                    <div class="pt-5">
                        <%=app.key%>
                    </div>
                    <input type="hidden" name="key" value="<%=app.key%>" />
                </div>
                <div class="field-group">
                    <label>App Secret：</label>
                    <input type="text" class="text" name="secret" value="<%=app.secret%>" placeholder="请输入应用程序私钥" maxlength="150" />
                    <input class="aui-button" type="button" value="重新生成" id="generate" />
                    <div class="error invalid" validation="isNotBlank" style="display:none">请输入应用程序私钥</div>
                </div>
                <div class="field-group">
                    <label>校验签名：</label>
                    <input type="checkbox" class="mt-10" name="checkSign" <% if(app.checkSign) { %> checked
                    <% } %> value="1" />
                </div>
                <div class="field-group">
                    <label>校验资源权限：</label>
                    <input type="checkbox" class="mt-10" name="checkResource" <% if(app.checkResource) { %> checked
                    <% } %> value="1" />
                </div>
                <div class="field-group">
                    <label>用户可见：</label>
                    <input type="checkbox" class="mt-10" name="appType" <% if(app.appType==="PUBLIC" ) { %> checked
                    <% } %> value="1" />
                </div>
                <div class="field-group">
                    <label>是否校验验证码：</label>
                    <div>
                        <a href="#checkVcodeDropdown" aria-owns="checkVcodeDropdown" aria-haspopup="true" class="aui-dropdown2-trigger"><span id="checkVcodeVal"> <% if(app.checkVcode=='NO_SET' ) { %> 无设置
                        <% } %><% if(app.checkVcode=='YES' ) { %> 校验<% } %><% if(app.checkVcode=='NO' ) { %> 不校验<% } %></span></a>
                        <div id="checkVcodeDropdown" class="aui-dropdown2 aui-style-default aui-dropdown2-in-header">
                            <div class="aui-dropdown2-section">
                                <ul class="aui-list-truncate">
                                    <li><a class="checkVcodeItem" href="void:javascript(0)">无设置</a></li>
                                    <li><a class="checkVcodeItem" href="void:javascript(0)">校验</a></li>
                                    <li><a class="checkVcodeItem" href="void:javascript(0)">不校验</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="checkVcode" name="checkVcode" value="<%=app.checkVcode%>">
                </div>
                <div class="field-group">
                    <label>邮件提醒：</label>
                    <input type="checkbox" class="mt-10" name="emailNotify" <% if(app.emailNotify) { %> checked
                    <% } %> value="1" />
                </div>
                <div class="field-group">
                    <label>授权超时秒数：</label>
                    <input type="text" class="text" name="tokenTimeoutSec" value="<%=app.tokenTimeoutSec%>" placeholder="请输入授权超时秒数" maxlength="20" />
                    <div class="error invalid" validation="isNotBlank" style="display:none">授权超时秒数</div>
                    <div class="error invalid" validation="isMatchPattern, ^[0-9]*$" style="display:none">请输入正确的授权超时秒数</div>
                </div>
                <div class="field-group">
                    <label>回调地址：</label>
                    <input type="text" class="text" name="backUrl" placeholder="请输入回调地址" value="<%=app.backUrl%>" maxlength="150" />
                    <div class="error invalid" validation="isNotBlank" style="display:none">请输入回调地址</div>
                </div>
                <div class="field-group">
                    <label for="d-fname"></label>
                    <input class="aui-button aui-button-primary" type="button" value="修改应用信息" id="save" />
                </div>
            </fieldset>
            <% } else { %>
                <div class="aui-message">
                    <p class="title">
                        <span class="aui-icon icon-generic"></span>
                        <strong>应用不能修改</strong>
                    </p>
                    <p>等待审批中...</p>
                </div>
                <fieldset>
                    <div class="field-group">
                        <label>应用ID(app_code)：</label>
                        <div class="pt-5">
                            <%=app.code%>
                        </div>
                    </div>
                    <div class="field-group">
                        <label>应用名称：</label>
                        <div class="pt-5">
                            <%=app.name%>
                        </div>
                    </div>
                    <div class="field-group">
                        <label>App Key：</label>
                        <div class="pt-5">
                            <%=app.key%>
                        </div>
                    </div>
                    <div class="field-group">
                        <label>App Secret：</label>
                        <div class="pt-5">
                            <%=app.secret%>
                        </div>
                    </div>
                    <div class="field-group">
                        <label>校验签名：</label>
                        <div class="pt-5">
                            <% if(app.checkSign) { %>是
                                <% } else { %>否
                                    <% } %>
                        </div>
                    </div>
                    <div class="field-group">
                        <label>校验资源权限：</label>
                        <div class="pt-5">
                            <% if(app.checkResource) { %>是
                                <% } else { %>否
                                    <% } %>
                        </div>
                    </div>
                    <div class="field-group">
                        <label>用户可见：</label>
                        <div class="pt-5">
                            <% if(app.appType === "PUBLIC") { %>是
                                <% } else { %>否
                                    <% } %>
                        </div>
                    </div>
                    <div class="field-group">
                        <label>授权超时秒数：</label>
                        <div class="pt-5">
                            <%=app.tokenTimeoutSec%>
                        </div>
                    </div>
                    <div class="field-group">
                        <label>回调地址：</label>
                        <div class="pt-5">
                            <%=app.backUrl%>
                        </div>
                    </div>
                </fieldset>
                <% } %>
                    <% } else { %>
                        <div class="aui-message">
                            <p class="title">
                                <span class="aui-icon icon-generic"></span>
                                <strong>尚未创建应用</strong>
                            </p>
                            <p>点击<a href="#admin/app/apply/<%=user.code%>">这里</a>创建</p>
                        </div>
                        <% } %>
</form>
