<nav class="aui-header aui-dropdown2-trigger-group" role="navigation">
    <div class="aui-header-primary">
        <h1 id="logo" class="aui-header-logo aui-header-logo-aui">
            <a href="#">
                <span class="logo">CAAS</span>
            </a>
        </h1>
    </div>
    <div class="aui-header-secondary">
        <ul class="aui-nav">
            <li>
                <a href="#dwarfers" aria-owns="dwarfers" aria-haspopup="true" class="aui-dropdown2-trigger">用户</a>
                <div id="dwarfers" class="aui-dropdown2 aui-style-default aui-dropdown2-in-header">
                    <div class="aui-dropdown2-section">
                        <ul class="aui-list-truncate">
                            <li><a href="#superadmin/profile">用户信息</a></li>
                            <li id="changepwd"><a href="#change-password">修改密码</a></li>
                        </ul>
                    </div>
                    <div class="aui-dropdown2-section">
                        <ul class="aui-list-truncate">
                            <li><a href="javascript:void(0)" id="logout">注销</a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>
