<nav class="aui-header aui-dropdown2-trigger-group" role="navigation" data-aui-responsive="true">
    <div class="aui-header-inner">
        <div class="aui-header-primary">
            <h1 id="logo" class="aui-header-logo aui-header-logo-aui">
                <a href="#">
                    <span class="logo">CAAS</span>
                </a>
            </h1>
        </div>
    </div>
    <div class="aui-header-secondary">
        <ul class="aui-nav">
            <li>
                <a class="aui-nav-link login-link" href="#login">登录</a>
            </li>
            <li>
                <a class="aui-nav-link login-link" href="#signup">注册应用</a>
            </li>
        </ul>
    </div>
</nav>