<nav class="aui-navgroup aui-navgroup-vertical">
    <div class="aui-navgroup-inner">
        <ul class="aui-nav">
            <li class="aui-nav-selected">
                <a href="#home"><h2>管理控制台</h2></a>
            </li>
        </ul>
        <ul class="aui-nav">
            <li>
                <a href="#superadmin/app"><span class="aui-icon aui-icon-small aui-iconfont-devtools-file">File</span> 应用管理</a>
            </li>
            <li>
                <a href="#superadmin/admin-user"><span class="aui-icon aui-icon-small aui-iconfont-user">User</span> 管理员用户管理</a>
            </li>
            <li>
                <a href="#superadmin/user"><span class="aui-icon aui-icon-small aui-iconfont-user">User</span> 用户管理</a>
            </li>
            <li>
                <a href="#superadmin/user-access-log"><span class="aui-icon aui-icon-small aui-iconfont-view-list">List view</span> 用户访问日志</a>
            </li>
            <li>
                <a href="#superadmin/admin-access-log"><span class="aui-icon aui-icon-small aui-iconfont-view-list">List view</span> 管理员访问日志</a>
            </li>
        </ul>
    </div>
</nav>