<nav class="aui-navgroup aui-navgroup-vertical">
    <div class="aui-navgroup-inner">
        <ul class="aui-nav">
            <li class="aui-nav-selected">
                <a href="#home"><h2>管理控制台</h2></a>
            </li>
        </ul>
        <ul class="aui-nav">
            <li>
                <a href="javascript:void(0)" id="role-tree"><span class="aui-icon aui-icon-small aui-iconfont-user">Workbox</span> 角色管理</a>
            </li>
            <li>
                <a href="#admin/user-managment"><span class="aui-icon aui-icon-small aui-iconfont-user">Link</span> 用户管理</a>
            </li>
            <li>
                <a href="#admin/user-import"><span class="aui-icon aui-icon-small aui-iconfont-devtools-checkout">Link</span> 用户批量导入</a>
            </li>
            <li>
                <a href="#admin/resource/list"><span class="aui-icon aui-icon-small aui-iconfont-workbox">User</span> 资源列表</a>
            </li>
            <li>
                <a href="#admin/operation/list"><span class="aui-icon aui-icon-small aui-iconfont-configure">Link</span> 操作列表</a>
            </li>
            <li>
                <a href="#admin/subject/list"><span class="aui-icon aui-icon-small aui-iconfont-edit">Link</span> 主题列表</a>
            </li>
            <li>
                <a href="#admin/user-access-log"><span class="aui-icon aui-icon-small aui-iconfont-view-list">Link</span> 用户访问日志</a>
            </li>
        </ul>
    </div>
</nav>
