<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rongcapital.caas.dao.UserRoleDao">

	<!-- 所有查询列 -->
	<sql id="QUERY_COLUMN_LIST">
		<![CDATA[ userCode as userCode,roleCode as roleCode,status as status,creationTime as creationTime,updateTime as updateTime,comment as comment,creationUser as creationUser,updateUser as updateUser]]>
	</sql>
	<!-- 智能排序与分页 -->
	<sql id="QUERY_ORDER_LIMIT_CONDTION">
		<if test="orderField != null and orderFieldType != null"><![CDATA[ORDER BY ${orderField} ${orderFieldType}]]></if>
		<if
			test="startIndex != null and startIndex &gt;= 0 and pageSize != null and pageSize &gt; 0"><![CDATA[LIMIT #{startIndex},#{pageSize}]]></if>
	</sql>
	<!-- 查询列来源表 -->
	<sql id="QUERY_FROM_TABLE"><![CDATA[FROM caas_user_role]]></sql>
	<!-- 更新列来源表 -->
	<sql id="UPDATE_FROM_TABLE"><![CDATA[UPDATE caas_user_role]]></sql>
	<!-- 全部条件 -->
	<sql id="QUERY_WHERE_CLAUSE">
		<where>
			<if test="userCode != null"><![CDATA[ AND userCode = #{userCode}]]></if>
			<if test="roleCode != null"><![CDATA[ AND roleCode = #{roleCode}]]></if>
			<if test="status != null"><![CDATA[ AND status = #{status}]]></if>
			<if test="comment != null"><![CDATA[ AND comment = #{comment}]]></if>
			<if test="creationUser != null"><![CDATA[ AND creationUser = #{creationUser}]]></if>
			<if test="updateUser != null"><![CDATA[ AND updateUser = #{updateUser}]]></if>
			<if test="version != null"><![CDATA[ AND version = #{version}]]></if>
			<if test="removed != null"><![CDATA[ AND removed = #{removed}]]></if>
		</where>
	</sql>

	<!-- 更新列字段,只要不为NULL则更新,除开主键列 -->
	<sql id="UPDATE_COLUMN_SET">
		<set>
			<if test="userCode != null"><![CDATA[userCode = #{userCode},]]></if>
			<if test="roleCode != null"><![CDATA[roleCode = #{roleCode},]]></if>
			<if test="status != null"><![CDATA[status = #{status},]]></if>
			<if test="creationTime != null"><![CDATA[creationTime = #{creationTime},]]></if>
			<if test="updateTime != null"><![CDATA[updateTime = #{updateTime},]]></if>
			<if test="comment != null"><![CDATA[comment = #{comment},]]></if>
			<if test="creationUser != null"><![CDATA[creationUser = #{creationUser},]]></if>
			<if test="updateUser != null"><![CDATA[updateUser = #{updateUser}]]></if>
		</set>
	</sql>

	<!-- 插入action记录 -->
	<insert id="insert" parameterType="cn.rongcapital.caas.po.UserRole">
		<![CDATA[ 
			INSERT INTO caas_user_role (userCode,roleCode,status,creationTime,updateTime,comment,creationUser,updateUser)
			VALUES
			(
			  #{userCode},
			  #{roleCode},
			  #{status},
			  #{creationTime},
		      #{updateTime},
		      #{comment},
		      #{creationUser},
		      #{updateUser}
			)
		]]>
	</insert>

	<!--查询记录通过主键 -->
	<select id="getByCode" parameterType="string"
		resultType="cn.rongcapital.caas.po.UserRole">
		select
		<include refid="QUERY_COLUMN_LIST" />
		<include refid="QUERY_FROM_TABLE" />
	   <![CDATA[WHERE roleCode=#{roleCode} and userCode=#{userCode}]]>
	</select>

	<!--查询所有 -->
	<select id="getAll" resultType="cn.rongcapital.caas.po.UserRole">
		select
		<include refid="QUERY_COLUMN_LIST" />
		<include refid="QUERY_FROM_TABLE" />
	</select>
	<!-- 软删除记录通过主键 -->
	<delete id="removeByCode" parameterType="cn.rongcapital.caas.po.UserRole">
		delete
		<include refid="QUERY_FROM_TABLE" />
		WHERE userCode = #{userCode} and roleCode=#{roleCode}
	</delete>

	<delete id="removeUserRoleByRole" parameterType="string">
		delete
		<include refid="QUERY_FROM_TABLE" />
		WHERE roleCode=#{roleCode}
	</delete>
	<!-- 其它SQL语句 -->

	<update id="verifyUserRole" parameterType="cn.rongcapital.caas.po.UserRole">
		<include refid="UPDATE_FROM_TABLE" />
		set status=#{status} where userCode = #{userCode} and
		roleCode=#{roleCode}
	</update>
 

	<!--查询记录通过主键 -->
	<select id="getUserRole" parameterType="cn.rongcapital.caas.po.UserRole"
		resultType="cn.rongcapital.caas.po.UserRole">
		select
		<include refid="QUERY_COLUMN_LIST" />
		<include refid="QUERY_FROM_TABLE" />
	   <![CDATA[WHERE userCode = #{userCode} and roleCode=#{roleCode}]]>
	</select>


	<insert id="insertBatch" parameterType="java.util.List">
		INSERT INTO caas_user_role
		(userCode,roleCode,status,creationTime,comment,creationUser)
		VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
			(
			#{item.userCode},
			#{item.roleCode},
			#{item.status},
			#{item.creationTime},
			#{item.comment},
			#{item.creationUser}
			)
		</foreach>
	</insert>
	
	
	<insert id="removeByBatch" parameterType="java.util.List">
			<foreach collection="list" item="item" index="index" open=""
			close="" separator=";">
			 delete from caas_user_role where userCode=#{item.userCode} and roleCode=#{item.roleCode}
		   </foreach>
	</insert>





</mapper>